@model dynamic

<div class="btn-group btn-group-justified">
    <div class="btn-group" role="group">
        <a class="btn btn-default" asp-area="" asp-controller="AdminPanel" asp-action="UserListPanel">User list</a>
    </div>
    <div class="btn-group" role="group">
        <a class="btn btn-default" asp-area="" asp-controller="AdminPanel" asp-action="PromoteUserPanel">Promote user</a>
    </div>
    <div class="btn-group" role="group">
        <a class="btn btn-default" asp-area="" asp-controller="AdminPanel" asp-action="DeletePagePanel">Delete user page</a>
    </div>
    <div class="btn-group" role="group">
        <a class="btn btn-default" asp-area="" asp-controller="AdminPanel" asp-action="UserRequestListPanel">User request list</a>
    </div>
    <div class="btn-group" role="group">
        <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
    </div>
</div>