@model string

@{
    ViewBag.Title = "Admin panel";
    Layout = "_Layout";
}

<h1>Administrator</h1>
<hr />
<div class="container">
    
    @Html.Partial("AdminPanelTabs")
    <hr/>

    <form asp-controller="AdminPanel" asp-action="DeleteUserPage" method="post" class="form-horizontal">
        <fieldset>
            <legend>Delete user page</legend>
            <div class="form-group">
                <label for="username" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input name="username" type="text" class="form-control" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default" onclick="location.href = '@Url.Action("UserListPanel", "AdminPanel")'">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>