@model List<SimpleWebEditorApplication.Models.AdminPanelViewModels.UserRequestListPanelViewModel>

@{
    ViewBag.Title = "Admin panel";
    Layout = "_Layout";
}

<h1>Administrator </h1>
<hr />

<div class="container">
    @Html.Partial("AdminPanelTabs")
    <hr />

    <h1 style="text-align: center">User request list</h1>
    <hr />

    <table id="page-list" class="table table-striped table-hover ">
        <tbody>
            <tr>
                <th>Username</th>
                <th>Request</th>
                <th>Remove request</th>
            </tr>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.Username</td>
                    <td>@request.Request</td>
                    <td><a target='_blank' href="www.google.com">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
