<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleWebEditorApplication</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!--custom css-->
        <!---->
        <!--custom js-->
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!---->
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <!--custom js-->
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!---->
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SimpleWebEditor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="PageEditor" asp-action="Index">Page editor</a></li>
                        <li><a asp-area="" asp-controller="Profile" asp-action="Index">Profile</a></li>
                        
                    }
                    <li><a asp-area="" asp-controller="PageList" asp-action="Index">Published pages</a></li>
                    
                    <!-- TODO: admin panel and sending user requests
                    <li><a asp-area="" asp-controller="Help" asp-action="Index">Help</a></li>
                    <li><a asp-area="" asp-controller="AdminPanel" asp-action="Index">Admin panel</a></li>
                    -->
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - SimpleWebEditor</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!--custom js-->
        <!---->
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <!--custom js-->
        <!---->
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
