@model SimpleWebEditorApplication.Models.HelpViewModels.SendRequestViewModel

@{
    ViewBag.Title = "Help";
    Layout = "_Layout";
}


<h1 style="text-align: center">Admin request</h1>
<hr />
<form asp-controller="Help" asp-action="SendRequest" method="post" class="form-horizontal">
    <div class="col-md-12">
        <div class="form-group">
            <textarea asp-for="Description" class="form-control" style="max-width: 90%" rows="3" maxlength="255" placeholder="Write your request..."></textarea>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>