@model dynamic

@{
    ViewBag.Title = "Help";
    Layout = "_Layout";
}


<section id="main">
    <h1 style="text-align: center">Admin request</h1>
    <hr />
    <form class="form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label for="textArea" class="control-label"></label>
                <textarea name="request" class="form-control" rows="3" id="textArea" maxlength="255" placeholder="Write your request..."></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

</section>