@model SimpleWebEditorApplication.Models.ProfileViewModels.EditViewModel

@{
    ViewBag.Title = "Edit profile";
    Layout = "_Layout";
}


<form asp-controller="Profile" asp-action="Edit" method="post" class="form-horizontal">
    <h1 style="text-align: center">Edit profile</h1>
    <hr>
    <div asp-validation-summary="All" class="text-danger validation-summary-valid">
        <ul>
            <li style="display:none"></li>
        </ul>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">First name</label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger field-validation-valid"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Last name</label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger field-validation-valid"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BirthDate" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger field-validation-valid"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Change data</button>
            <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Profile")'">Back</button>
        </div>
    </div>
</form>
